@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 20em">
    <h1 class="display-4">Welcome to Blooms and Bakes Boutique</h1>
    <p style="font-size: 23px; color: #f075a0">Where Every Bite is a Moment of Bliss!</p>
</div>
